name = "lakehousementorship-site"
compatibility_date = "2025-07-31"
main = "./worker/index.js"

[build]
command = "chmod a+x build.sh && ./build.sh"

[assets]
directory = "./public"
not_found_handling = "404-page"
run_worker_first = [ "/api/submitIntakeForm", "/api/rssIntakeForm", "/api/getIntakeForm" ]

[[kv_namespaces]]
binding = "INTAKE_KV"
id = "c0355efc2d6545b7a696e37be495ed59"

[[secrets_store_secrets]]
binding = "SECRET_INTAKE"
store_id = "96ebea8f582f48cbae73db8bbc58cd6d"
secret_name = "INTAKE_SECRET"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
